<%= form_with model: invoice, scope: :invoice, local: false, id: "invoice_form" do |form| %>
  <% if @invoice&.errors&.any? %>
    <div id="error_explanation" class="form__error">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from saving:</h2>
      <ul>
        <% @invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__field">
    <%= form.label :client_name, class: "form__label" %>
    <%= form.text_field :client_name, class: "form__input" %>
  </div>

  <div class="form__field">
    <%= form.label :amount, class: "form__label" %>
    <%= form.number_field :amount, min: 0.01, step: '0.01', class: "form__input" %>
  </div>

  <div class="form__field">
    <%= form.label :tax, class: "form__label" %>
    <%= form.number_field :tax, min: 0.01, step: '0.01', class: "form__input" %>
  </div>

  <div class="form__actions">
    <%= form.submit class: "form__submit" %>
  </div>
<% end %>