<nav class="navbar">
  <div class="navbar-links">
    <%= link_to 'Invoices', invoices_path, class: 'nav-link' %>
    <%= link_to 'Letter Opener', '/letter_opener', class: 'nav-link' %>
    <% if user_signed_in? %>
      <span class="welcome-message">Welcome, <%= current_user.email %></span>
      <%= form_with(url: destroy_user_session_path, method: :delete, data: { turbo: false }, local: true, class: 'logout-form') do %>
        <%= button_tag 'Logout', class: 'btn btn-logout' %>
      <% end %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
    <% end %>
  </div>
</nav>